*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    text-align: center;
    display: flex;
  justify-content: space-around;
  align-items: center;
}

.start{
    font-size: 2em;
}
.score{
    font-size: 1.5em;
}

#grid{
    margin-top: 10%;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 8px;
}

#grid div{
    
    width: 10px;
    height: 10px;
}

.snake{
    background-color: rgb(0, 158, 8);
  
}

.apple{
    background-color: rgb(255, 0, 0);
}